.noProduct_box{
    width: 335px;
    height: 190px;
    margin-top: 236px;
    margin-left: 482px;
}
.noProductIcon{
    margin-bottom: 24px;
    width: 100px;
    height: 100px;
    color:  #071074;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}
.icon{
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.addproduct{
    width: 315px;
    height: 40px;
    border-radius: 8px;
    background-color: #000FB4;
    color: white;
    margin-top: 24px;
}



@media (max-width: 1024px) {
  .noProduct_box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
  }
}

@media (max-width: 768px) {
  .noProduct_box {
    width: 90%;
    height: auto;
    margin: 120px auto 0 auto;
    text-align: center;
  }

  .icon {
    width: 100%;
  }

  .noProductIcon {
    width: 80px;
    height: 80px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
  }

  .addproduct {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .noProduct_box {
    margin-top: 80px;
  }

  .noProductIcon {
    width: 70px;
    height: 70px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }

  .addproduct {
    height: 44px;
    font-size: 14px;
  }
}
