.header {
  height: 64px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(1, 8, 96, 0.45),
    rgba(0, 34, 131, 0.45),
    rgba(115, 74, 163, 0.45),
    rgba(231, 149, 156, 0.45),
    rgba(228, 161, 130, 0.45),
    rgba(191, 54, 19, 0.45)
  );
  border-bottom: 0.5px solid #D1D5DB;
  display: flex;
  justify-content: end;
}
.logout{
  height: 40px;
  width: 70px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
